### 01. DataFrame에 값 쓰기1

In [2]:
import pandas as pd

iphone_df = pd.read_csv('/Users/leehyeri/Documents/programming study/codeit/python/Start_Data Science/data/iphone.csv', index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

#### 값 수정하기
- df.loc['열 이름', '행 이름'] = '새로 넣을 값'
  
- 한 줄 전체 수정하기
    - 한 행
        - df.loc['행 이름'] = [새로 넣을 값은 리스트에 넣기]
    - 한 열
        - df['열 이름'] = [ " ]
        - 똑같은 값 줄 때
            - df['열 이름'] = ''

### 02. DataFrame에 값 쓰기2

- 컬럼 여러개 한번에 바꾸기 (여러 컬럼 선택하던 거~)
    - df[['컬럼이름1', '컬럼이름2']] = ''
    - df.loc['시작 칼럼 이름' : '종료 칼럼 이름'] = ''
- 로우 여러개 한번에 바꾸기
    - df.loc[['로우이름1','로우이름2']] = ''

#### 조건 부여하기 (조건 인덱싱이랑 같음)
- df.loc[df['컬럼 이름'] > 조건] = '' 

#### 위치로 값 바꾸기
- df.iloc[[1,3] [1,4]] = ''

### 03. DataFrame에 값 추가/삭제

#### 값 추가
##### 없는 로우/행 이름을 넣으면 값이 추가된다.
ex)로우
- df.loc['새로운 로우 이름'] = [들어갈 값 리스트]  
  
ex)행
- df['새로운 컬럼 이름'] = [들어갈 값 리스트] or '모두 하나의 같은 값'
  
  
#### 값 삭제(df.drop, axis='index', )
ex)로우
- df.drop('삭제할 로우 이름', axis='index', inplace=False)
    - axis='index' : 로우를 다른말로 'index'라고 함.. 열이아닌 행을 삭제하겠다는 의미
    - inplace='False' : 기존의 데이터프레임은 유지 = 건들지 않겠다.(바꾸려면 True)
    
ex)컬럼
- df.drop('삭제할 컬럼 이름', axis='columns', inplace=False)
---
ex) 여러 줄
- df.drop(['삭제할 로우 이름 리스트'], axis='index', inplace=False)

### 06. index/column 설정하기
#### 칼럼 이름 바꾸기 : df.rename() 
- df.rename(columns= {'apple' : 'Apple'}, inplace=True) 
    - drop과 마찬가지로.. rename() 함수 자체는 DF를 근본적으로 바꾸지 X, inplace로 설정 추가 해줘야함.
    
#### 로우 총괄 이름 만들기 : df.index.name = '' 
- df.index.name = ''

#### 로우 인덱스 다른 컬럼으로 변경하기 : df.index ->  df.set_index() 
- 1단계 : 기존 로우 인덱스를 새로운 열로 추가
    - df['새로운 컬럼 이름'] = df.index
- 2단계 : 다른 컬럼을 새로운 인덱스로 지정하기 (좋은 인덱스 : 중복 확률이 적은 인덱스)
    - df.set_index('칼럼 이름', inplace = True)

### 07. [실습] 서류 전형 합격 여부

토익 시험은 LC(듣기) 파트와 RC(독해) 파트로 이루어져 있습니다. 각 파트가 495점 만점, 총 990점이 만점입니다.

“서울 항공”에 입사하기 위해서는 토익 점수를 제출해야 하는데요. 각 파트가 최소 250점, 총 점수가 최소 600점이 되어야 서류 전형을 합격할 수 있습니다.

기존 DataFrame에 “합격 여부”라는 column을 추가하고, 합격한 지원자는 불린 값 True, 불합격한 지원자는 불린 값 False를 넣어주면 됩니다.

import pandas as pd
    
df = pd.read_csv('data/toeic.csv')

# 각파트 & 총점수까지 조건에 들어가야한다!
# 1. 불린 값 df1 데이터 프레임에 저장하기
df1 = (df['LC'] >= 250) & (df['RC'] >= 250) & (df['LC'] + df['RC'] >= 600)
# 2. 새로운 컬럼에 df1 데이터 넣기
df['합격 여부'] = df1

df

#### 해설 참조
- 조건이 두 개이므로, 조건에 따라 변수를 두 개로 나누어 값을 받는 것.

### 08. [실습] 
- 헤맸던 문제
    - 4개의 열에 데이터들이 80을 넘으면 1, 넘지않으면 0으로 값을 바꾸기.

In [ ]:
# 필터링[불린 값 받기] = 

df[df.loc[:, 'B':'E'] < 80] = 0
df[df.loc[:, 'B':'E'] >= 80] = 1