## 주피터에서 값 출력 특징 (2)
### 1.  print() 안써도 출력된다...

In [1]:
x = 17
x

17

In [2]:
# 근데 print()를 안쓰면 가장 마지막 줄만 출력된다...
x = 17 
x 
y = 19
y

19

In [5]:
# print()를 섞어서 쓰면?
x = 17 
x 
y = 19
print(x)
y # 그래도 맨 마지막 줄에 있으니까 출력된다.

17

19

### 2. 데이터프레임 출력

In [9]:
# 보기좋게 출력하려면 print() 없이
import pandas as pd
df = pd.read_csv('data/liverpool.csv')

In [11]:
df # 보기 좋게 출력됨

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil

In [12]:
print(df) # 모양새가 좀 안좋음

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil