### 자꾸 까먹는 메소드 정리
1. 특정 컬럼으로 내림차순 정렬하기
- df.sort_values(by=['기준 컬럼명'], ascending = False)
2. 특정 컬럼 기준, 값 세기
- ex) '차 브랜드' 컬럼의 차 브랜드별로 몇 개의 데이터가 있는지
  - df['  '].value_counts()
    - df 자체 적용 X. 특정 칼럼 지정 적용 O
- 중복 값 제외하여 개수 세기
  - df['  '].unique()

### 03. [실습] 여행지 선정하기(1)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/world_cities.csv')
df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

#### 질문2
사람 만나기를 좋아하는 익중이는 가장 사람이 붐비는 도시로 여행을 가기로 마음 먹었습니다. 주어진 데이터에서, 인구 밀도(명/sqKm) 가 10000 이 넘는 도시는 총 몇 개인지 알아보세요.

참고로 인구 밀도는 인구 수 / 땅의 면적 (in sqKm) 로 구할 수 있습니다.

답안은 숫자로만 입력해 주세요. (예시: 24)

In [ ]:
df[(df['Population'] / df['Land area (in sqKm)']) > 10000].count()
# 19개

Unnamed: 0             19
City / Urban area      19
Country                19
Population             19
Land area (in sqKm)    19
dtype: int64

In [ ]:
# 모범 답안
# 1. 인구 밀도 계산
# density라는 열 생성
df['Density'] =  df["Population"] / df["Land area (in sqKm)"]
# 2. 계산한 인구 밀도에 불린 연산을 적용하여 인덱싱... // 새로운  df 생성
# 내가 했던 것을 1번 과정을 거치면서 보기 좋은 코드로 한 버전으로 생각하면 됨.
df_high_density = df[df["Density"] > 10000]
# 3. df_high_density에 총 몇 개의 데이터가 있는지 확인 :: info() 메소드
df_high_density.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 32 to 129
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           19 non-null     int64
 1   City / Urban area    19 non-null     object
 2   Country              19 non-null     object
 3   Population           19 non-null     int64
 4   Land area (in sqKm)  19 non-null     int64
 5   density              19 non-null     float64
 6   Density              19 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.2+ KB

#### 질문 3
이번에는 인구 밀도가 가장 높은 도시를 찾아봅시다.

답안은 데이터에 적힌 이름을 그대로 입력해 주세요. (예시: Seoul)

In [ ]:
df_high_density.sort_values(by=['Density'], ascending=False)
# Mumbai

,Unnamed: 0,City / Urban area,Country,Population,Land area (in sqKm),density,Density
75,75,Mumbai,India,14350000,484,29648.760331,29648.760331
74,74,Kolkata,India,12700000,531,23917.137476,23917.137476
101,101,Karachi,Pakistan,9800000,518,18918.918919,18918.918919
99,99,Lagos,Nigeria,13400000,738,18157.181572,18157.181572
34,34,Shenzhen,China,8000000,466,17167.381974,17167.381974
123,123,Seoul/Incheon,South Korea,17500000,1049,16682.554814,16682.554814
129,129,Taipei,Taiwan,5700000,376,15159.574468,15159.574468
76,76,Chennai,India,5950000,414,14371.980676,14371.980676
38,38,Bogota,Colombia,7000000,518,13513.513514,13513.513514
33,33,Shanghai,China,10000000,746,13404.825737,13404.825737
102,102,Lima,Peru,7000000,596,11744.966443,11744.966443
32,32,Beijing,China,8614000,748,11516.042781,11516.042781
71,71,Delhi,India,14300000,1295,11042.471042,11042.471042
39,39,Kinshasa,Congo,5000000,469,10660.980810,10660.980810
78,78,Tehran,Iran,7250000,686,10568.513120,10568.513120
103,103,Manila,Philippines,14750000,1399,10543.245175,10543.245175
36,36,Tianjin,China,4750000,453,10485.651214,10485.651214
77,77,Jakarta,Indonesia,14250000,1360,10477.941176,10477.941176
73,73,Bangalore,India,5400000,534,10112.359551,10112.359551

In [ ]:
# 모범답안
# Tip: 보기 좋은 코드를 위해, 단계를 나누고, 필요한 변수를 지정해준다.
# 1. 이미 위에서 df['Density']로 밀도 컬럼을 만들었으므로 1단계는 생략
# 2. 인구 밀도를 기준으로 정렬 // 여기서 정렬한 것을 새로운 데이터프레임으로 저장
density_ranks = df.sort_values(by="Density", ascending = False)
# 3. density_ranks 데이터프레임에서 도시 정보만 뽑아서 확인
density_ranks['City / Urban area']

75              Mumbai
74             Kolkata
101            Karachi
99               Lagos
34            Shenzhen
            ...
194        Chattanooga
223          Asheville
57                 Pau
220            Hickory
196    Barnstable Town
Name: City / Urban area, Length: 249, dtype: object

### 04. [실습] 여행지 선정하기(2)

#### 질문1
익중이는 누나에게 여행지를 추천 받으려고 합니다.
그런데 나라 이름이 기억나지 않고, 이 데이터에서 그 나라에 속한 도시가 딱 4개 들어 있었다는 것만 기억이 난다고 하네요. 이 나라는 무엇일까요?

답안은 데이터에 적힌 이름 그대로 적어 주세요. (예시: France)

In [ ]:
# 해설 참조


countries_ct = df['Country'].value_counts()
print(countries_ct)
# 마무리가 헷갈렸음...!
# countries_ct  시리즈 자체를 숫자4에 비교하면, 값이4 인곳이 불린값으로나옴 이를 전과 같이 필터링 해주면 됨
countries_ct[countries_ct == 4]

USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Israel           1
Kuwait           1
Malaysia         1
Netherlands      1
Zimbabwe         1
Name: Country, Length: 61, dtype: int64

Italy    4
Name: Country, dtype: int64

In [ ]:
type(countries_ct)

pandas.core.series.Series

### 05.[실습] 코드잇 대학교: 수강시청 준비하기

2,000명의 코드잇 대학교 학생들이 수강신청을 했습니다.

수강신청에는 다음 3개의 조건이 있습니다.

“information technology” 과목은 심화과목이라 1학년은 수강할 수 없습니다.
“commerce” 과목은 기초과목이고 많은 학생들이 듣는 수업이라 4학년은 수강할 수 없습니다.
수강생이 5명이 되지 않으면 강의는 폐강되어 수강할 수 없습니다.
기존 DataFrame에 “status”라는 이름의 column을 추가하고, 학생이 수강 가능한 상태이면 “allowed”, 수강 불가능한 상태이면 “not allowed”를 넣어주세요.

나의 답안... 어렵다....

In [ ]:
import pandas as pd

df = pd.read_csv('data/enrolment_1.csv')

# 여기에 코드를 작성하세요
# 1.
no_year1 = (df['course name'] == 'information technology') & (df['year'] == 1)
# 2.
no_year4 = (df['course name'] == 'commerce') & (df['year'] == 4)

# 1, 2의 판다스 시리즈를 합침
#
no_df = no_year1 | no_year4
no_df

# status 컬럼 추가, 컬럼 값 변경
df['status'] = no_df

# 컬럼 값 변경
#df[df['status'] == True] = 'not allowed' => 이렇게 하니까,,, 한 행의 모든값이 다 바뀜..
#df[df['status'] == False] = 'allowed'

# replace() 모듈 사용
df = df.replace({ 'status' : True }, 'not allowed')
df = df.replace({ 'status' : False }, 'allowed')

# 3. , 데이터에 5번 이상 등장하지 않는 데이터는 'status'에 'not allowed'
# GPT 도움....
# course_name 에 해당하는 status 통계 내기
# 'course'별 'status' 개수 계산
course_status_counts = df.groupby(['course name', 'status']).size().unstack().fillna(0)
df[course_status_counts['allowed'] < 5]

# 'allowed' 개수가 5보다 작은 'course'의 'status' 값을 'not_allowed'로 변경
courses_to_update = course_allowed_counts[course_allowed_counts < 5].index
df.loc[df['course name'].isin(courses_to_update), 'status'] = 'not allowed'

# 테스트 코드
df

- 참고 답안 ... 복습!!

In [ ]:
import pandas as pd

df = pd.read_csv('data/enrolment_1.csv')

# 'status' 컬럼을 만들고, 전체 'allowed'로 우선 지정 // 추후에 조건에 맞게 'not allowed'로 값 변경
df['status'] = "allowed"

# 첫 번째 조건 : 1학년이 들을 수 없는 과목 // 여기에 해당하는 불린값 받기
condition_1 = (df['year'] == 1) & (df['course name'] == 'information technology')
# 두 번째 조건 : 4학년이 들을 수 없는 과목 // 여기에 해당하는 불린값 받기
condition_2 = (df['year'] == 4) & (df['course name'] == 'commerce')

# 과목 별 개수를 받아서 df_count에 저장
df_count = df['course name'].value_counts()

# 세 번째 조건 : df_count에서 5번 미만 등장하는 필터링 값의 행,, 에서 course name의 각 값들이 존재하는지 불린값 받기
condition_3 = df['course name'].isin(df_count[df_count < 5].index)

# 각 조건에서 하나라도 False가 있으면 'not allowed'로 값 변경
df.loc[condition_1 | condition_2 | condition_3, 'status'] = 'not allowed'

df

- 모범 답안

In [ ]:
import pandas as pd

df = pd.read_csv('data/enrolment_1.csv')
df["status"] = "allowed"

# 참고한 답안과의 차이점 : 불린 값 받는 DF를 한번 더 세부적으로 나눔.
# 조건 하나 지날 때마다 "not allowed" 변경

# 조건 1
boolean1 = df["course name"] == "information technology"
boolean2 = df["year"] == 1
df.loc[boolean1 & boolean2, "status"] = "not allowed"

# 조건 2
boolean3= df["course name"] == "commerce"
boolean4= df["year"] == 4
df.loc[boolean3& boolean4, "status"] = "not allowed"

# 참고한 답안과의 차이점 : isin 안 쓰는 방법
# 조건 3
allowed = df["status"] == "allowed"
course_counts = df.loc[allowed, "course name"].value_counts()
# 리스트 활용
closed_courses = list(course_counts[course_counts < 5].index)
# 반복문으로 ,,
for course in closed_courses:
    df.loc[df["course name"] == course, "status"] = "not allowed"

# 테스트 코드
df

### 06. [실습] 코드잇 대학교 : 강의실 배정하기 (1)

수강 신청이 완료되었습니다. 이제 각 과목을 수강하는 학생수에 따라 크기가 다른 강의실을 배치하려고 합니다.

강의실은 규모에 따라 “Auditorium”, “Large room”, “Medium room”, “Small room” 총 4가지 종류가 있습니다.

아래 조건에 따라 강의실 종류를 지정해 주세요.

80명 이상의 학생이 수강하는 과목은 “Auditorium”에서 진행됩니다.
40명 이상, 80명 미만의 학생이 수강하는 과목은 “Large room”에서 진행됩니다.
15명 이상, 40명 미만의 학생이 수강하는 과목은 “Medium room”에서 진행됩니다.
5명 이상, 15명 미만의 학생이 수강하는 과목은 “Small room”에서 진행됩니다.
폐강 등의 이유로 status가 “not allowed”인 수강생은 room assignment 또한 “not assigned”가 되어야 합니다.

In [ ]:
import pandas as pd


df = pd.read_csv('data/enrolment_2.csv')

# 1. **status가 "allowed"인 course들에 대해서** 각 과목의 수강 인원 가져오기
# status가 allowed인 인덱스의 불린값 받아오기
allowed = df["status"] == "allowed"
# status가 allowed인  course들에 대해서 각 코스의 개수 받아오기
course_counts = df.loc[allowed, "course name"].value_counts()
course_counts  # => status가 allowed인  course들의 개수(듣는 학생 수)

# 2. 강의실 규모에 따라, 각 과목을 리스트로 만든다.
    # 이제 리스트를 같이 사용할 줄 알아야함.
auditorium_list = list(course_counts[course_counts >= 80].index) # 이 조건을 만족하는 과목명만 리스트에 추가됨
large_room_list = list(course_counts[(80 > course_counts) & (course_counts >= 40)].index)
medium_room_list = list(course_counts[(40 > course_counts) & (course_counts >= 15)].index)
small_room_list = list(course_counts[(15 > course_counts) & (course_counts >= 5)].index)

# 3. 위에서 만든 리스트(강의실 규모에 따른 각 과목 리스트)를 활용해서 for문으로 room assignment 값을 정해준다.
# (1) not allowed 과목에 대해 값 지정해주기
not_allowed = df["status"] == "not allowed"
df.loc[not_allowed, "room assignment"] = "not assigned"

# (2) allowed 과목에 대해 값 지정해주기
for course in auditorium_list:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Auditorium"
for course in large_room_list:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Large room"
for course in medium_room_list:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Medium room"
for course in small_room_list:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Small room"


df

### 07. 코드잇 대학교 : 강의실 배정하기2

이전 과제에서 강의실 크기에 따라 room assignment column을 만들어 주었습니다.

이제 이 room assignment에 따라 강의실 이름을 붙여주려고 합니다.

아래 세 가지 조건을 만족하도록 코드를 작성하세요.

같은 크기의 강의실이 필요한 과목에 대해 알파벳 순서대로 방 번호를 배정하세요.

예를 들어 "Auditorium"이 필요한 과목으로 “arts”, “commerce”, “science” 세 과목이 있다면, “arts”는 “Auditorium-1”, “commerce”는 “Auditorium-2”, “science”는 “Auditorium-3” 순서로 방 배정이 되어야 합니다.

방 번호에 room 은 포함되지 않습니다. 아래 스크린샷을 참고하여 작성해주세요.

status column이 “not allowed”인 수강생은 room assignment column을 그대로 “not assigned”로 남겨둡니다. "not allowed" 인 수강생의 room assignment 상태가 변경되지 않도록 유의해주세요.

room assignment column의 이름을 room number로 바꿔주세요.

In [ ]:
# 모범답안
import pandas as pd

df = pd.read_csv('data/enrolment_3.csv')

# 과목별 인원 가져오기
allowed = df["status"] == "allowed"
course_counts = df.loc[allowed, "course name"].value_counts()

# 각 강의실 규모에 해당되는 과목 리스트 만들기
auditorium_list = list(course_counts[course_counts >= 80].index)
large_room_list = list(course_counts[(80 > course_counts) & (course_counts >= 40)].index)
medium_room_list = list(course_counts[(40 > course_counts) & (course_counts >= 15)].index)
small_room_list = list(course_counts[(15 > course_counts) & (course_counts > 4)].index)

# 강의실 이름 붙이기
for i in range(len(auditorium_list)):
    df.loc[(df["course name"] == sorted(auditorium_list)[i]) & allowed, "room assignment"] = "Auditorium-" + str(i + 1)

for i in range(len(large_room_list)):
    df.loc[(df["course name"] == sorted(large_room_list)[i]) & allowed, "room assignment"] = "Large-" + str(i + 1)
    
for i in range(len(medium_room_list)):
    df.loc[(df["course name"] == sorted(medium_room_list)[i]) & allowed, "room assignment"] = "Medium-" + str(i + 1)
    
for i in range(len(small_room_list)):
    df.loc[(df["course name"] == sorted(small_room_list)[i]) & allowed, "room assignment"] = "Small-" + str(i + 1)

# column 이름 바꾸기
df.rename(columns={"room assignment": "room number"}, inplace = True)
    
# 테스트 코드
df

### 해설

아래 세 가지 조건을 만족해야 합니다.

같은 크기의 강의실이 필요한 과목에 대해 알파벳 순서대로 방 번호를 배정하세요. 예를 들어 Auditorium이 필요한 과목으로 “arts”, “commerce”, “science” 세 과목이 있다면, “arts”는 “Auditorium-1”, “commerce”는 “Auditorium-2”, “science”는 “Auditorium-3” 순서로 방 배정이 되어야 합니다.

“status”가 “not allowed”인 수강생은 “room assignment”를 그대로 “not assigned”로 남겨둡니다.

“room assignment” column의 이름을 “room number”로 바꿔주세요.

먼저, 앞선 과제와 같이 status가 allowed인 수강생들의 과목별 수강 인원을 받아옵니다.

In [ ]:
import pandas as pd

df = pd.read_csv('data/enrolment_3.csv')

# 과목별 인원 가져오기
allowed = df["status"] == "allowed"
course_counts = df.loc[allowed, "course name"].value_counts()

그리고 이를 통해 각 강의실 규모에 해당되는 과목 리스트를 만들어 줍니다.

In [ ]:
# 각 강의실 규모에 해당되는 과목 리스트 만들기
auditorium_list = list(course_counts[course_counts >= 80].index)
large_room_list = list(course_counts[(80 > course_counts) & (course_counts >= 40)].index)
medium_room_list = list(course_counts[(40 > course_counts) & (course_counts >= 15)].index)
small_room_list = list(course_counts[(15 > course_counts) & (course_counts > 4)].index)

이렇게 만들어진 리스트를 활용해서, 각 강의실의 이름을 붙여줍니다.

In [ ]:
# 강의실 이름 붙이기
for i in range(len(auditorium_list)):
    df.loc[(df["course name"] == sorted(auditorium_list)[i]) & allowed, "room assignment"] = "Auditorium-" + str(i + 1)

for i in range(len(large_room_list)):
    df.loc[(df["course name"] == sorted(large_room_list)[i]) & allowed, "room assignment"] = "Large-" + str(i + 1)
    
for i in range(len(medium_room_list)):
    df.loc[(df["course name"] == sorted(medium_room_list)[i]) & allowed, "room assignment"] = "Medium-" + str(i + 1)
    
for i in range(len(small_room_list)):
    df.loc[(df["course name"] == sorted(small_room_list)[i]) & allowed, "room assignment"] = "Small-" + str(i + 1)

마지막으로 column 이름을 바꿔줍니다.

In [ ]:
# column 이름 바꾸기
df.rename(columns={"room assignment": "room number"}, inplace = True)